name: Release

on:
  push:
    tags:
    - 'v*'

jobs:
  release:
    name: Release
    runs-on: ubuntu-24.04
    steps:
    - name: Checkout code
      uses: actions/checkout@v5
    - uses: actions/setup-go@v6
      id: setup-go
      with:
        go-version-file: "go.mod"

    - name: Download go modules
      shell: bash
      if: ${{ steps.setup-go.outputs.cache-hit != 'true' }}
      run: go mod download

    - name: Cross build
      run: make cross

    - name: Create Release
      uses: softprops/action-gh-release@v1
      if: startsWith(github.ref, 'refs/tags/')
      with:
        generate_release_notes: true
        files: |
          goxz/*