name: Build site

on:
  push:
    paths:
      - 'site/**'

jobs:
  build:
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      deployments: write
    name: Deploy to Cloudflare Pages
    steps:
      - uses: actions/checkout@v5

      - name: Download latest vss binary
        run: |
          curl -L -o vss_linux_amd64.tar.gz https://github.com/veltiosoft/vss/releases/latest/download/vss_linux_amd64.tar.gz
          tar -xzf vss_linux_amd64.tar.gz
          chmod +x vss
          sudo mv vss /usr/local/bin/

      - name: Build site
        run: |
          cd site
          vss build

      - name: Publish
        uses: cloudflare/pages-action@1
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          projectName: 'docs-vss'
          directory: 'site/dist'

